:root{
   --base-w-container:1627px;
}

*{
margin:0px;
padding:0px;
box-sizing:border-box;
list-style:none;
}
html,body{
width:100%;
height:100%;
font-family: 'Be Vietnam Pro', sans-serif;
font-size: calc(14px - 4 * (100vw) / 1920);
}
body{
   background: #f7f7f8;
   overflow-x: hidden;
   /* font-size: 14px; */
}
/*  */
.none{
display:none;
}
a{
text-decoration:none;
}
button{
   cursor: pointer;
}
.container{
/* max-width:var(--base-w-container); */
max-width:1627px;
margin:0 auto;
padding:0 15px;
}

/* .wrapper {
} */
.header {
   padding: 20px;
   margin-bottom: 100px;
}
.header-top-baner {
   font-size: 18px;
   margin: 0 auto;
   width: 97%;
   /* padding: 0.777778em 0; */
   /* padding: 14px 0; */
   background: #ff8600;
   border-radius: 8px;
}
.header-top-baner-text{
   font-size: 18px;
   padding: 0.7778em 0;
   text-align: center;
   /* line-height: 150%; */
   color:#fff;
   display: flex;
   justify-content: center;
}
.header-top-baner-text img{
   margin-left: 24px;
}
.header-nav {
   margin-top: 20px;
}
.header-container{
   display: flex;
   align-items: center;
}
/* .nav-logo {
} */
.nav-list {
   display: flex;
   align-items: center;
   margin-left: 50px;
}
.nav-list-item {
   border-radius: 8px;
   transition: all .3s linear;
   -webkit-transition: all .3s linear;
   -moz-transition: all .3s linear;
   -ms-transition: all .3s linear;
   -o-transition: all .3s linear;
}
.nav-list-item:hover{
   background-color: #F1F1F3;
}
.nav-list-item-link {
   padding: 0.7778em 1.333em;
   font-size: 18px;
   color: #262626;
}
.nav-auth {
   margin-left: auto;
}
.nav-auth-btn {
   padding: 14px 34px;
   color: #262626;
   font-size: 18px;
   border-radius: 8px;
   border: 0;
   background-color: transparent;
   transition: all .3s linear;
   -webkit-transition: all .3s linear;
   -moz-transition: all .3s linear;
   -ms-transition: all .3s linear;
   -o-transition: all .3s linear;
}
.nav-auth-btn:hover{
   color: #fff;
   background: #FF9500;
}
.nav-auth-btn.nav-auth-btn-active{
   color: #fff;
   background: #FF9500;
}

.hero-container {
   padding-bottom: 100px;
}

.hero-body {
   max-width: 965px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.hero-body-header {
   display: flex;
   background-color: #fff;
   justify-content: center;
   padding: 14px 30px 14px 20px;
   margin-bottom: 20px;
   position: relative;
}
.abstract-line{
   position: absolute;
   left: -24px;
   top: -30px;

}
.hero-body-header-icon {
   width: 62px;
   height: 62px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFF4E5;
   border-radius: 6px;
}
.hero-body-title {
   font-size: 48px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   color: #1A1A1A;
}

.hero-body-title-chank-color {
   color: #FF9500;
}
.hero-body-text {
   text-align: center;
   font-size: 38px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   margin-bottom: 10px;
}
.hero-body-subtext {
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   margin-bottom: 60px;
}
/* .hero-body-footer {
} */
.hero-body-btn {
   padding: 18px 24px;
   border-radius: 8px;
   background-color: #fff;
   border: 1px solid #F1F1F3;
   transition: all .3s linear;
   -webkit-transition: all .3s linear;
   -moz-transition: all .3s linear;
   -ms-transition: all .3s linear;
   -o-transition: all .3s linear;
}
.hero-body-btn-active {
   background-color: #FF9500;
   color: #fff;
}
.hero-body-btn:hover{
   background-color: #FF9500;
   color: #fff;
}

.partners-container {
   
   padding: 30px;
   background-color: #fff;
   
}

.partners-card .icon{
   
   width: 99.167px;
   height: 34px;
   padding: 30px 40px;
   /* width: 100%;
   object-fit: cover; */
}

.partners-block {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   }
   
   .div1 { grid-area: 1 / 1 / 2 / 2; }
   .div2 { grid-area: 1 / 2 / 2 / 3; }
   .div3 { grid-area: 1 / 3 / 2 / 4; }
   .div4 { grid-area: 1 / 4 / 2 / 5; }
   .div5 { grid-area: 1 / 5 / 2 / 6; }
   .div6 { grid-area: 1 / 6 / 2 / 7; }
   .div7 { grid-area: 1 / 7 / 2 / 8; }

#video{
   margin-top: 100px;
}
.video-container{
   position: relative;
}
.video-play{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 72px;
   height: 72px;
   transform: translate(-50%,-50%);
   border-radius: 68px;
   border: 6px solid rgba(255, 255, 255, 0.30);
   background: rgba(255, 255, 255, 0.20);
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);
}
.video-container img{
   width: 100%;
   object-fit: cover;
}

/* Benefits */



/* .section_container {
} */
.section-block {
   margin-top: 150px;
}
.section_title {
   color:  #262626;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 48px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%; /* 72px */
}
.section_title__pos--left {
   text-align-last: left;
}
/* .section_header {
} */
.section_row--flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 80px;
}
.section_subtitle {
   color: #59595A;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
   max-width: 1177px;
   padding-right: 16px;
}
.section_btn {
   padding: 18px 24px;
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:#FCFCFD;
   white-space: nowrap;
}
.section_link{
   text-decoration: none;
   color:#262626;
   text-align: center;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%; /* 27px */
   padding: 14px 18px;
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:#FCFCFD;
   white-space: nowrap;
}
.section_cards {
   margin-bottom: 100px;
}
.section_grid{
   /* display: flex; */

   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px, 1fr) );
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
}
.course--1 { grid-area: 1 / 1 / 2 / 2; }
.course--2 { grid-area: 1 / 2 / 2 / 3; }
.course--3 { grid-area: 2 / 1 / 3 / 2; }
.course--4 { grid-area: 2 / 2 / 3 / 3; }
.course--5 { grid-area: 3 / 1 / 4 / 2; }
.course--6 { grid-area: 3 / 2 / 4 / 3; }
.section_row--flex-wrap {
   display: flex;
   flex-wrap: wrap;
}
.section_row--flex__gap-20{
   gap: 20px;
}
.section_row--flex__gap-30{
   gap: 30px;
}
.section_card {
   padding: 50px;
   border-radius: 12px;
   background: #ccc;
   display: flex;
   flex-direction: column;
}
.section_card-item{
   flex: 1 32.4%;
   min-width: 300px;
   min-height: 437;
}
.section_card-course-item{
   flex: 1 40%;
   min-height: 807px;
}
.cestion_card-header {
   position: relative;
   height: 59px;
   margin-bottom: 50px;
}
.cestion_card-header::after{
   position: absolute;
   top: 0;
   right: 0;
   content:attr(data-text);
   font-size: 80px;
   font-style: normal;
   font-weight: 700;
}
.section_card-body {
   margin-bottom: 50px;
   flex: 1 auto;
}
.section_card-img{
   margin-bottom: 30px;
}
.section_card-img img{
   width: 100%;
   object-fit: cover;
   display: inline-block;
   border-radius: 8px;
}
.section_card-title {
   color: #333;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%; /* 36px */
   letter-spacing: -0.144px;
   margin-bottom: 14px;
}
.section_card-subtitle{
   color: #4C4C4D;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
}
.section_card-info{
   display: flex;
   margin-bottom: 30px;
}
.course-level {
   margin-left: 42px;
}
.section_card-info__item {
   width: 50%;
   display: flex;
}
.section_card-info__item:last-child {
   justify-content: end;
}
.section_card-subtitle__bold {
   color:  #262626;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-left: 300px;
   white-space: nowrap;
}

/* .section_card-footer {
} */
.card_btn--w100 {
   width: 100%;
   height: 63px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #262626;
   text-align: center;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%; /* 27px */
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:  #F7F7F8;
}
.section_row__inner-pos-right {
   text-align: right;
}
.section_card-btn {
   width: 74px;
   height: 74px;
   padding: 20px;
   border-radius: 8px;
   border: 1px solid  #F1F1F3;
   background:  #FCFCFD;
}
.section_grid__row-2{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px, 1fr) );
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
}
.section_card-boby__mt {
   margin-top: 80px;
}
.section_card-flex {
   display: flex;
   align-items: center;
}
.section_card-flex span{
   margin-left: 15px;
   color: #333;
   font-family: 'Be Vietnam Pro',sans-aerif;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%; /* 27px */
}
.section_card-flex a{
   margin-left: auto;
   padding: 18px 24px;
}
.view--1 { grid-area: 1 / 1 / 2 / 2; }
.view--2 { grid-area: 1 / 2 / 2 / 3; }
.view--3 { grid-area: 2 / 1 / 3 / 2; }
.view--4{ grid-area: 2 / 2 / 3 / 3; }
/* .section_card-link {
} */
.btn-read{
   display: none;
   border-radius: 8px;
   border: 0;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   width: 34px;
   height: 34px;
}
.btn-read > svg{
   width: 34px;
   height: 34px;
   fill: #fff;
}
.section_subtitle__short {
   max-width: 1025px;
   color:  #59595A;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
}
.section_btn-group{
   padding: 12px;
   background-color: #fff;
   display: flex;
}
.section_btn__hover{
   padding: 14px 30px;
   color: #4C4C4D;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   /*27px*/border-radius: 6px;
   transition: all .3s linear;
   -webkit-transition: all .3s linear;
   -moz-transition: all .3s linear;
   -ms-transition: all .3s linear;
   -o-transition: all .3s linear;
   border: 0;
}
.section_btn__hover + .section_btn__hover{
   margin-left: 6px;
}
.section_btn__hover:hover{
   background-color: #ff9500;
   color: #fff;
}
/* .pricing_grid{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px, 1fr) );
   grid-template-rows: repeat(1 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
} */
.pricing_flex{
   background-color: #fff;
   padding: 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}
.pricing_card{
   padding:50px 30px 30px 30px;
   flex: 1 1 48%;
   min-width: 380px;
   display: flex;
   flex-direction: column;
   min-height: 100px;
}
.section_card{
   box-shadow: 0 0 12px 5px rgba(0,0,0,.7);
}
/* .pricing_card+.pricing_card{
   margin-left: 30px;
} */
.pricing_title {
   padding: 12px 20px;
   background-color: #FFF9F0;
   border-radius: 6px;
   text-align: center;
   color:  #262626;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: 169%; /* 37.18px */
   margin-bottom: 50px;
}
.pricing_cost {
   text-align: center;
   color:  #262626;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 80px;
   font-style: normal;
   font-weight: 600;
   line-height: 73%; /* 58.4px */
   margin-bottom: 50px;
}
.pricing_cost>span{
   color:  #4C4C4D;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 73%; /* 14.6px */
}
.pricing_body{
   border:1px solid #FF9500;
   padding: 40px;
   border-radius: 14px 14px 0px 0px;
   flex: 1 auto;
}
.pricing_features {
   color: #262626;
   text-align: center;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%; /* 30px */
   margin-bottom: 30px;
}
.pricing_options {
   margin-bottom: 20px;
}
.pricing_option {
   display: flex;
   align-items: center;
   color:  #4C4C4D;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
   padding: 14px;
   margin-bottom: 20px;
   /* list-style-image: url('../images/icons/check.svg'); */
}
.pricing_option>span{
   width: 20px;
   height: 20px;
   background-color: #fff;
   margin-right: 12px;
}
.pricing_option>span>svg{
   width: 20px;
   height: 20px;
}
.prising_getStarted {
   padding: 20px 24px;
   border-radius: 0px 0px 8px 8px;
   -webkit-border-radius: 0px 0px 8px 8px;
   -moz-border-radius: 0px 0px 8px 8px;
   -ms-border-radius: 0px 0px 8px 8px;
   -o-border-radius: 0px 0px 8px 8px;
   background: #FF9500;
   color:  #FFF;
   text-align: center;
   font-family: 'Be Vietnam Pro',sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%; /* 27px */
   border: 0;
}