@media(max-width:1441px){
   /* .container{
      max-width: 1280px;
      padding: 0 10px;
   } */
   .hero-container {
      padding-bottom: 100px;
   }
   .header-top-baner-text{
      font-size: 14px;
      padding: 0.714em 0;
   }
   .nav-list-item-link{
      font-size: 14px;
      padding: 0.857em 1.428em;
   }
   .nav-auth-btn {
      font-size: 14px;
      padding: 12px 24px;
   }
   .hero-body-header{
      font-size: calc(10px + 1.5vw);
      padding: .25em .5em .25em .25em;
      align-items: center;
   }
   .hero-body-title {
      /* font-size: 36px; */
      font-size: calc(10px + 1.5vw);
   }
   .hero-body-header-icon{
      
      width: 48px;
      height: 48px;
   }
   .section_title{
      font-size: 38px;
   }
   
   .section_subtitle{
      font-size: 16px;
   }
   .cestion_card-header::after{
      font-size: 60px;
   }
   .section_card-title{
      font-size: 20px;
   }
   .section_card-subtitle{
      font-size: 16px;
   }
}
@media(max-width:1101px){
   .section_card-info{
      flex-direction: column;
      align-items: start;
   } 
   .section_card-subtitle__bold{
      margin-left: 0;
      width: 100%;
   }
   .section_card-info__item{
      width: 100%;
   }
  
}
@media(max-width:821px){
   .nav-list{
      display: none;
   }
}

@media(max-width:769px){
   .section_row--flex{
      flex-direction: column;
      align-items: start;
   }
   .section_btn{
      margin-top: 20px;
      padding: 12px 20px;
   }
   .section_link{
      font-size: 14px;
   }
   .cestion_card-header::after{
      font-size: 50px;
   }
   .section_card-subtitle{
      font-size: 14px;
   }
   .section_row__inner-pos-right{
      display: flex;
      justify-content: end;
   }
   .section_card-btn{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .section_grid , .section_grid__row-2{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .section_card{
      width: 75%;
   }
   .section_card-info{
      flex-direction: column;
      align-items: start;
   }
   .section_card-info__item{
      width: 100%;
   }
   .section_card-subtitle__bold{
      margin-left: 0;
   }
   .section_card-info__item:last-child{
      display: block;
   }
   .section_card-flex a{
      padding: 14px 16px;
      margin-left: auto;
      margin-top: 0;
   }
}

@media(max-width:576px){
   .header-top-baner-text{
      font-size: 12px;
   }
   .section_card{
      width: 100%;
   }
   .section_card-flex a{
      padding: 10px 12px;
   }
   .section_card-flex span{
      margin-left: 8px;
   }
   .section_card{
      padding: 15px;
   }
}

@media(max-width:381px){
   .header-top-baner-text{
      font-size: 10px;
   }
  
}